.contato{
    padding: 6rem 0;
    background-image: url(/img/imagens/img-contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    color: $white;
    .titulo{
        color: $white;
        &::after{
            background: $white;
        }        
    }
}
.card-contato{
    background: $white;
    height: 23.5rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.281);
    color: #000;
    text-align: center;
    padding: 2rem 0;
    h3{
        @include type-2(24);
        font-weight: 600;
        margin-top: 1.5rem;
        text-transform: uppercase;
    }
    div.linha{
        height: .1rem;
        max-width: 20rem;
        background-color: #000;
        margin: 1.5rem auto;
    }
    address{
        @include type-1(16);
        font-style: normal;
                
    }
    a{
        display: block;
        @include type-1(16);
        font-style: normal;
        color: #000;
    }
    span{
        display: block;
        @include type-1(16);
        font-style: normal;
        color: #000;
    }
    .func{
        @include type-1(16);
        font-style: normal;
        color: #000;
        font-weight: bold;
        display: flex;
        justify-content: center;
        .circle{
            width: 1.6rem;
            height: 1.6rem;
            border: 2px solid;
            background: transparent;
            margin-right: 1rem;
            border-radius: 50%;
        }
    }
}