.modal-wrapper.on{
    visibility: visible;
    opacity: 1;
}
.modal-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;        
    top: 0;
    left: 0;
    display: flex;
    background: rgba(4, 9, 17, .8);
    
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    .modal{
        overflow: auto;
        padding: 20px;    
        background: $gray-light;
        margin: 100px auto;
        border-radius: .8rem;
        .img{
            border-radius: 15px;
            display: block;                        
        }
        h1{
            @include type-2(24);
            font-weight: 600;
            margin-top: 1.5rem;
            text-transform: uppercase;
            text-align: center;
        }
        .texto{
            max-width: max-content;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        a.botao{
            margin: 0 auto;
            border-color: $gray-medium;
            &:hover{
                background-color: $gray-medium;
            }
        }
        .btn-esc{
            @include type-2(20);
            text-align: center;
            padding-top: .4rem;
            display: block;            
            width: 3rem;
            height: 3rem;
            background: red;
            font-size: 2rem;
            font-weight: bold;
            color: $white;
            position: absolute;
            right: 2rem;
            z-index: 30;            
            filter: brightness(80%);
            &:hover{
                filter: brightness(100%);
            }
        }
    }
}