.sobre{
    background: $gray-light;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.foto img{
    width: 100%;
    display: block;
}

h3.nome{
    font-size: 1.8rem;
    font-family:'Nunito', sans-serif;    
    font-weight: 600;
    margin: 1.5rem 0 1rem 0;
}
p.profissao{
    @include type-1(14);
    font-style: italic;
    margin-bottom: 1rem;
}
p.texto-sobre{
    @include type-1(16);
    color: $gray-medium;
    padding: 0 4rem;
}
.sub-titulo-sobre{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    @include type-2(24);
    color: $gray-medium;
    font-weight: 500;
}