// Tipografia e Cores
$gray-light:#D9E0E6;
$gray-medium:#373E53;
$white:#FFF;
$blue-dark:#002463;

@mixin type-1($size) {
    font-family:'Newsreader', serif;
    @if $size == 14 {
        font-size: 1.4rem;
        line-height: 1.96rem;
        word-spacing: .2rem;
        letter-spacing: .1rem;
    }
    @else if $size == 16 {
        font-size: 1.6rem;
        line-height: 2.26rem;
        word-spacing: .2rem;
        letter-spacing: .1rem;
    }
    @else if $size == 18 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        word-spacing: .2rem;
        letter-spacing: .1rem;
    }
    @else if $size == 24 {
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: .1rem;
    }
    @else if $size == 36 {
        font-size: 3.6rem; 
        letter-spacing: .1rem;               
    }
}
@mixin type-2($size) {
    font-family:'Nunito', sans-serif;
    @if $size == 12 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    @else if $size == 14 {
        font-size: 1.4rem;
        line-height: 1.96rem;
        word-spacing: .2rem;
        letter-spacing: .1rem;
    }
    @else if $size == 16 {
        font-size: 1.6rem;
        line-height: 2.26rem;
        word-spacing: .2rem;
        letter-spacing: .1rem;
    }
    @else if $size == 24 {
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: .1rem;
    }
    @else if $size == 36 {
        font-size: 3.6rem;
        letter-spacing: .1rem;
    }
}
@mixin titulo{
    font-family:'Nunito', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    color:$blue-dark;
    text-transform: uppercase;
}
@mixin underline {
    display: block;
    content: '';
    background: $blue-dark;
    height: .3rem;
    width: 10rem;
    margin: 0 auto;
}
@mixin sub-titulo{
    font-family:'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: $white;    
}

@mixin botao {
    @include type-2(16);
    color: $gray-light;
    font-weight: 600;
    padding: 1rem 2rem;
    border: .3rem solid $gray-light;
    border-radius: 5rem;
    transition: all .5s ease-in;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &:hover{
        color: #000;
        background: $white;
        box-shadow: .0rem .1rem .5rem $white;  
        transition: all .5s ease-out;      
    }
}





// HOME - Principal
@import 'header';
@import 'slider';
@import 'scroll';

// Sobre
@import 'sobre';
@import 'separador';
@import 'area';
@import 'servicos'; 
@import 'contato';
@import 'footer';


// Configurações Gerais
html{
    font-size: 58.82%;
}
.titulo{
    @include titulo();
    text-align: center;
    margin-bottom: 3rem;
    &::after{
        @include underline();
    }
}
.sub-titulo{
    @include sub-titulo();
    margin-bottom: 2rem;
}